body
{
    margin: 0; 
    background-color: rgb(137, 81, 41);
    overflow-x: hidden;
}
nav img 
{
    display: flex;
    width: 4vw;
    height: 3vw;
}
html 
{
    scroll-behavior: smooth;
}


.haut
{
	width: 100%;
    height: 100vh; /* plein écran */
	background-image:url(../../images/Fond-resto.webp); 
	background-size: cover; 
	background-position: center; 
	display:flex; 
	flex-direction: column;  
    align-items: center; 
    text-align: center;
    padding: 20px;
}
.haut p 
{
	position: relative;
    color: red;
    top: -12vh;
    font-size: 2vw;
	
}

.haut h1
{
    color: white;
    font-size: 5vw;
}

h2 {
  color: black;
  font-size: 1vw;
  text-align: center;
  top: -1vw;
  position: relative;
}
.h2i 
{
  font-size: 4vw;
  border: 1px solid black;
  background-color: beige;
  top: -6vw;
  position: relative;
}
a 
{
    text-decoration: none; 
    color: white;
}

 .h2i:hover, .commande:hover 
{
    background-color: red;   
}
.bas
{
	background-color: rgb(144, 213, 255);
    display: flex;
    width: 100vw;
    flex-direction: column;
}
.plat1 img 
{
	position: relative;
    width: 21vw;
    margin-left: 21vw;
    border-radius: 20px;
    top: 60px;
}
.plat1 p 
{
	position: relative;
    color: black;
    margin-left: 25vw;
    top: 4vw;
    font-size: 1vw;
}
.bas h2 
{
	font-size: 2vw;
    position: relative;
}
.plat2 img 
{
	position: relative;
    width: 21vw;
    height: 21vw;
    top: -16vw;
    margin-left: 61vw;
    border-radius: 20px;
}
.plat2 p 
{
	color: black;
    position: relative;
    top: -15vw;
    margin-left: 65vw;
    font-size: 1vw;
} 
.hor h2 
{
    font-size: 3vw;
    position: relative;
    top: -11vw;
    margin-left: 40vw;
}
.hor p 
{
	color: black;
    position: relative;
    top: -7vw;
    margin-left: 62vw;
    font-size: 2vw;
}
.maps h2 
{
	font-size: 2vw;
    position: relative;
    margin-left: -43vw;
    top: -50vw;
}
.maps p 
{
	color: black;
    margin-left: 20vw;
    top: -22vw;
    position: relative;
    font-size: 1vw;
}
.maps img 
{
	width: 41vw;
    margin-left: 10vw;
    top: -49vw;
    position: relative;
    border-radius: 20px;
}
.com h2 
{
    font-size: 3vw;
    position: relative;
    top: 1vw;
}
.com p 
{
    color: black;
    position: relative;
    top: -28vw;
    margin-left: 33vw;
    font-size: 2vw;
}
.com a
{
   position: relative;
   top: -450px;   
   margin-right: 200px;
}
/* Conteneur central */
.wrap 
{
    margin-left: 25vw;
    padding: 1vw;
}
/* Gros titre chic*/ 
.title 
{
    font-size: 2vw;
    color: white;
    margin-left: 16vw;
}
/*pour les catégories */
.repas 
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vw;
    width: 45vw;
}
 /* carte d'une catégorie */
.card
{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 22px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.6); 
    background-color: rgb(144, 213, 255);
}
.card:hover
{
    transform: translateY(-6px) scale(1.01);  
}

.thumb
{ 
    aspect-ratio: 4 / 3; /* bon ration pour photo*/
    overflow: hidden;    
    display: flex;
    align-items: center;
}
.thumb img
{
    width: 100%;
    transition: transform .4s ease;  
}
.card:hover img
{
    transform: scale(1.03); /* zoom*/
}

.label 
{
    font-size: 2vw;
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgb(6, 6, 155);
}

.subtitle 
{
    font-size: 2vw;
    color: black;
}
 
.boisson-card img
{
    width: 20vw;

}
.boisson-card
{
    grid-column: 1 / -1;   
}
 
.boisson-card .thumb
{
    width: 48%;
	aspect-ratio: 4/4;
}
.label1 
{
    flex-shrink: 1;
    overflow: hidden; 
    margin: 0;
}
.p1 
{
    flex-shrink: 1; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    margin: 0;
}

.thumb1 {
    flex-shrink: 0;
} 
.thumb1 img 
{
  width: 180px;
    height: 110px;
    border-radius: 15px;      
    object-fit: cover;
}

.card1 {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: flex-start;
    gap: 3%; 

    background-color: #99d6ff; 
    padding: 10px 20px;
    margin-bottom: 15px;
    overflow: hidden; 
    white-space: nowrap;
}
footer 
{
    display: flex;
    flex-direction: column;
}
.droite
{
    font-size: 30px; 
    font-weight: 10;
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
}
.style 
{
    display: flex;
    border: 2px solid black;
    background-color: white;
    margin: auto;
    width: 14vw;
    top: -59vw;
    position: relative;
}
.droite 
{
    font-size: 2vw;
    font-weight: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input 
{
    font-size: 1vw;
}
textarea#msg 
{
    font-size: 1vw;
}
.repas1
{
    flex-direction: column;
}
#selection-contact 
{
    top: -60vw;
    position: relative;
    font-size: 3vw;
}
footer hr 
{
    width: 100%;
    position: relative;
    top: -79vw;
}
video 
{
    width: 52vw;
    margin-left: 24vw;
    top: 25vw;
    position: relative;
}
.btn-anchor 
{
    align-self: flex-start; /* que le boutton */
}
