body
{
    margin: 0; /* Supprime la marge par défaut du navigateur autour de la page */
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
}
nav img 
{
    display: flex;
    width: 4vw;
    height: 3vw;
}
html 
{
    scroll-behavior: smooth;
}

.haut
{
	width: 100%;
    height: 100vh; /* plein écran */
	background-image:url(../../images/Fond-resto.webp); /* Image de fond pour la section supérieure */
	background-size: cover; /* L’image est entièrement visible, sans être coupée, mais peut laisser des bords vides */
	background-position: center; 
	display:flex; /* Active Flexbox pour centrer les éléments à l’intérieur */
	flex-direction: column;  /* Place les éléments à l’intérieur en colonne (verticalement) */	 
    align-items: center; /* Centre horizontalement les éléments */
    text-align: center;
    padding: 20px;
}
.haut p 
{
	position: relative;
    color: red;
    top: -12vh;
    font-size: 2vw;
	
}

.haut h1
{
    color: white;
    font-size: 5vw;
}

h2 {
  color: black;
  font-size: 1vw;
  text-align: center;
  top: -1vw;
  position: relative;
}
.h2i 
{
  font-size: 4vw;
  border: 1px solid black;
  background-color: beige;
  top: -6vw;
  position: relative;
}
a 
{
    text-decoration: none; /* Supprime le soulignement des liens */
    color: red;
}

 .h2i:hover, .commande:hover 
{
    background-color: red;   /* la couleur du fond au survol de la souris */
}
.bas
{
	background-color: rgb(144, 213, 255);
    display: flex;
    width: 100vw;
    flex-direction: column;
}
.plat1 img 
{
	position: relative;
    width: 21vw;
    margin-left: 21vw;
    border-radius: 20px;
    top: 60px;
}
.plat1 p 
{
	position: relative;
    color: black;
    margin-left: 25vw;
    top: 4vw;
    font-size: 1vw;
}
.bas h2 
{
	font-size: 2vw;
    position: relative;
}
.plat2 img 
{
	position: relative;
    width: 21vw;
    height: 21vw;
    top: -16vw;
    margin-left: 61vw;
    border-radius: 20px;
}
.plat2 p 
{
	color: black;
    position: relative;
    top: -15vw;
    margin-left: 65vw;
    font-size: 1vw;
} 
.hor h2 
{
    font-size: 3vw;
    position: relative;
    top: -11vw;
    margin-left: 40vw;
}
.hor p 
{
	color: black;
    position: relative;
    top: -7vw;
    margin-left: 62vw;
    font-size: 2vw;
}
.maps h2 
{
	font-size: 2vw;
    position: relative;
    margin-left: -43vw;
    top: -50vw;
}
.maps p 
{
	color: black;
    margin-left: 20vw;
    top: -22vw;
    position: relative;
    font-size: 1vw;
}
.maps img 
{
	width: 41vw;
    margin-left: 10vw;
    top: -49vw;
    position: relative;
    border-radius: 20px;
}
.com h2 
{
    font-size: 3vw;
    position: relative;
    top: 1vw;
}
.com p 
{
    color: black;
    position: relative;
    top: -28vw;
    margin-left: 33vw;
    font-size: 2vw;
}
.com a
{
   position: relative;
   top: -450px;   
   margin-right: 200px;
}
/* Conteneur central */
.wrap 
{
    margin-left: 25vw;
    padding: 1vw;
}
/* Gros titre chic*/ 
.title 
{
    font-size: 2vw;
    color: black;
    margin-left: 16vw;
}
/*pour les catégories */
.repas 
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vw;
    width: 45vw;
}
 /* carte d'une catégorie */
.card
{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 22px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.6); /* Ombre douce */
    background-color: rgb(144, 213, 255);
}
.card:hover
{
    transform: translateY(-6px) scale(1.01);  /* Légère montée + zoom */
}
/* Conteneur image (arrondie) */
.thumb
{ 
    aspect-ratio: 4 / 3; /* ratio agréable pour la photo */
    overflow: hidden;    /* Masque débordement des images */
    display: flex;
    align-items: center;
}
.thumb img
{
    width: 100%;
    transition: transform .4s ease;  /* Animation hover image */
}
.card:hover img
{
    transform: scale(1.03); /* zoom*/
}
/* Titre de la catégorie*/
.label 
{
    font-size: 2vw;
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgb(6, 6, 155);
}
/* Texte sous-titre si besoin (muted) */
.subtitle 
{
    font-size: 2vw;
    color: black;
}
 /* Pour la mise en page spécifique : Boissons grande colonne */
.boisson-card img
{
    width: 20vw;

}
.boisson-card
{
    grid-column: 1 / -1; /* prend toute la ligne */   ;
}
 /* Boisson : image plus verticale */
.boisson-card .thumb
{
    width: 48%;
	aspect-ratio: 4/4;
}
.label1 
{
    font-family: 'Great Vibes', cursive;
    font-size: 2vw;
    color: white;
    top: -19vw;
    position: relative;
}
.p1 
{
    position: relative;
    font-size: 2vw;
    color: black;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    top: -10vw;
    margin-left: 18vw;
}

.thumb1
{
    margin-right: 1480px;
    position: relative;
    top: -10px;
} 
.thumb1 img 
{
<<<<<<< HEAD
    position: relative;
    width: 15vw;
    border-radius: 20px;
    height: auto;
    max-width: 25vw;
    
=======
  width: 20vw;
  border-radius: 20px;
  margin-left: 1vw;
>>>>>>> c4a6d071d441d471a1974217e5bb9c06008cd5f8
}

.card1 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
<<<<<<< HEAD
    height: 20vh;
      background: radial-gradient(circle at 20% 20%, rgb(144,213, 255), transparent),
              radial-gradient(circle at 80% 80%, #ffffff, transparent),
              #000;
    width: 98vw;
    margin: 4vw;
=======
    height: 10vw;
    background-color: rgb(144, 213, 255);
    width: 98vw;
    margin: 20px;
    margin-left: 20px;
>>>>>>> c4a6d071d441d471a1974217e5bb9c06008cd5f8
    margin-left: -1px;
}
footer 
{
    display: flex;
    flex-direction: column;
}
.droite
{
    font-size: 30px; 
    font-weight: 10;
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
}
.style 
{
    display: flex;
    border: 2px solid black;
    background-color: white;
    margin: auto;
    width: 14vw;
    top: -59vw;
    position: relative;
}
.droite 
{
    font-size: 2vw;
    font-weight: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input 
{
    font-size: 1vw;
}
textarea#msg 
{
    font-size: 1vw;
}
.repas1
{
    flex-direction: column;
}
#selection-contact 
{
    top: -60vw;
    position: relative;
    font-size: 3vw;
}
footer hr 
{
    width: 100%;
    position: relative;
    top: -79vw;
}
video 
{
    width: 52vw;
    margin-left: 24vw;
    top: 25vw;
    position: relative;
}
.btn-anchor 
{
    align-self: flex-start; /* que le boutton */
}
