.darkmode .menu 
{
  background: radial-gradient(circle at 20% 20%, #aa2323, transparent),
              radial-gradient(circle at 80% 80%, #6a00ff, transparent),
              #000;
}

.darkmode .card
{
  background-color: rgb(255, 144, 144);
}
.darkmode .card1 {
  background-color: rgb(255, 144, 144);
}
.darkmode .label 
{
  background-color: rgb(255, 144, 144);
}
.darkmode .bas 
{
	background-color: rgb(255, 144, 144);
}
.darkmode .maps p,.darkmode .hor p, .darkmode .plat2 p, .darkmode .plat1 p,.darkmode .bas h2, .darkmode.com p, .darkmode.title,.darkmode .label, .darkmode.subtitle {
	color: white;
}
.darkmode header
{
  background-color: rgb(0, 0, 0);
}
.darkmode .h2i 
{
  font-size: 4vw;
  border: 1px solid black;
}
.darkmode .plat1 img 
{
  display: flex;
  position: relative;
  border-radius : 50%;
  width: 20vw;
  right:20%;
  top: 7vw;

}
.darkmode .plat1 p {
  position: relative;
  margin-right: auto;
  text-align: left;
  right: 2%;
  top:-5vw;
  font-size: 2vw;
  border:2px solid ;
  border-radius: 10%;
  background-color: rebeccapurple;
  width: 35vw;
}
.darkmode .plat2 img
{
  display: flex;
  position: relative;
  border-radius : 50%;
  width: 20vw;
  right:58%;
  top: 5vw;
}
.darkmode .plat2 p 
{
  position: relative;
  margin-right: auto;
  text-align:left;
  right: 40%;
  top: -10vw;
  font-size: 2vw;
  border:  2px solid ;
  border-radius: 10%;
  background-color: rebeccapurple;
  width: 35vw;
}
.darkmode .hor h2 
{
  position: relative;
  font-size: 8vw;
  width: 15vw;
  border-radius: 20%;
  top: -49vw;
  margin-left: 65%;
  border:  2px solid ;
  border-radius: 10%;
  background-color: rebeccapurple;
  width: auto;
}
.darkmode .hor p 
{
  position: relative;
  top: -54vw;
  margin-left: 65%;
  font-size: 2vw;
  border: 2px solid ;
  border-radius: 0%;
  background-color: rebeccapurple;
  width: auto;
}
.darkmode .maps img 
{
  width: 500px;
  margin-left: 162px;
  top: -490px;
  position: relative;
  border-radius: 20px;
}
.darkmode .thumb
{
  position: relative;
  border-radius: 50%;
}
.darkmode .maps p 
{
  color: black;
  margin-left: 742px;
  top: -296px;
  position: relative;
  font-size: 37px;
}
.darkmode .maps h2 
{
  position: relative;
  font-size: 5vw;
  margin-left: 18vw;
  top: -60vw;
}
.darkmode .com p 
{
  color: black;
  position: relative;
  top: -9vw;
  margin-left: 4vw;
  font-size: 3vw;
}
.darkmode .com h2 
{
  color: black;
  font-size: 3vw;
  margin: auto;
  left: 15%;
  top: 47vw;
  position: relative;
  border: 2px solid black;
  background-color: white;
  width: 10vw;
}
.darkmode .maps img
{
  width: 35vw;
  margin-left: 16vw;
  top: -70vw;
  position: relative;
  border-radius: 40%;
}
.darkmode .maps p 
{
  color: black;
  margin-left: 55vw;
  top: -53vw;
  position: relative;
  font-size: 3vw;
}

.darkmode .style 
{
  display: flex;
  border: 2px solid black;
  background-color: white;
  margin: auto;
  width: 14vw;
  top: -34vw;
  position: relative;
}
.darkmode .maps h2 
{
  position: relative;
  font-size: 5vw;
  margin-left: auto;
  top: -58vw;
}
.darkmode.com p 
{
  color: black;
  position: relative;
  top: -65vw;
  margin-left: 5;
  font-size: 3vw;
}

footer hr 
{
 /*display: none;*/
  width: 100%;
  position: relative;
  top: -90vw;
}
.darkmode.droite 
{
  font-size: 2vw;
  font-weight: 10;
  flex-direction: column;
  top: -77vw;
  position: relative;
  font-size: 3vw;
}

.darkmode .droiter
{
  font-size: 50px;
  top: -35vw;
  position: relative;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12vw;
}

.darkmode .thumb img 
{
  width: 100%;
  transition: transform .4s ease;
  position: relative;
  border-radius: 20%
}
.darkmode .card
{
  display: flex;
  flex-direction: c;
  align-items: center;
  padding: 22px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
  background: red;
  border-radius: 30%;
}
.darkmode .card1
{
  display: flex;
  align-items: center;
  padding: 22px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
  background: antiquewhite;
  border-radius: 30%;
}
.darkmode .subtitle 
{
  font-size: 2vw;
  color: rgb(255, 255, 255);
  padding: 2vw;
}

.darkmode .thumb1 img 
{ 
  position: relative;
  display: flex;
  justify-content: center;   
  max-width: 100%;
}
.darkmode .title
{
  font-size: 2vw;
  color: black;
  margin-left: 41vw;
  
}
.darkmode .label1 
{
  font-family: 'Great Vibes', cursive;
  font-size: clamp(2rem, 4vw, 3.5rem);
  color: red;
  margin-right: auto;
  text-align: left;
  margin-top: 2vw;
  padding: 2vw;
}
.darkmode .p1
{
  font-size: 2vw;
  color: red;
  text-align: center;
  font-family: 'Great Vibes', cursive;
  top: -9vw;
  margin-left: 50vw;
}

header 
{
  display: flex;
  padding: 10px 20px;
  background-color: gray;
}
/* switch pour changer le mode sombre / clair */
#switch
{
  border-radius: 50%;
  background-color: white;
  position: relative;
  height: 3vw;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex: 0 0 2vw;
  margin-left: 93%;
}
#switch img 
{
   position: absolute;
    width: 80%;
    height: 79%;
}


#switch img:last-child
{
   	display:none;    
}

.darkmode #switch img:first-child
{
    display:none;	                 
}
.darkmode #switch img:last-child
{
    display:block;	          
}
.menu
{
  display: none;
  position: absolute;
  top: 4vw;
  right: 1vw;
  border: black 2px solid;
  padding: 15px;
  width: 10vw;
  height: 10vw;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  background-color: rgb(144, 213, 255);
}
.menu.active 
{
  display:block;
}
#but 
{
  background: none;
  border: none;
  cursor: pointer;
}
 #but img 
 {
    transition: transform 0.3s ease;
    height: 2vw;
  }
.menu ul 
{
  position: relative;
  font-size: 1vw;
  margin-left: -2vw;
}
