.darkmode {   
  .menu {
    background-color: rgb(255, 144, 144);
  }
  .card, .card1 {
    background-color: rgb(255, 144, 144);
  }
  .label {
    background-color: rgb(255, 144, 144);
  }
  .bas {
		background-color: rgb(255, 144, 144);
	}
	.maps p, .hor p, .plat2 p, .plat1 p, .bas h2, .com p, .title, .label, .subtitle {
		color: white;
<<<<<<< HEAD
	 }
   header {
      background-color: rgb(184, 22, 178);
   }
   .plat1 img {
  border-radius : 50%;
=======
	}
  header {
    background-color: beige;
  }
  .plat1 img {
    border-radius : 50%;
>>>>>>> 2bd653973030356e076dfb6cd87388186c7dd806
  }
  .plat1 p {
    position: relative;
    color: black;
    margin-left: 880px;
    top: -210px;
    font-size: 30px;
  }
  .plat2 img {
    border-radius : 50%;
    position: relative;
    color: black;
    margin-left: 480px;
    top: 30px;
    font-size: 30px;
  }
  .plat2 p {
    position: relative;
    color: black;
    margin-left: 880px;
    top: -90px;
    font-size: 30px;
}
  .hor h2 {
    font-size: 50px;
    position: relative;
    top: -42px;
    margin-left: 484px;
  }
  .hor p {
<<<<<<< HEAD
  color: black;
  position: relative;
  top: -165px;
  margin-left: 824px;
  font-size: 30px;
}
.maps img {
  width: 500px;
  margin-left: 162px;
  top: -490px;
  position: relative;
  border-radius: 20px;
}
.thumb
{
 position: relative;
  border-radius: 50%;
}
.maps p {
  color: black;
  margin-left: 742px;
  top: -296px;
  position: relative;
  font-size: 37px;
}
.maps h2 {
  font-size: 40px;
  position: relative;
  margin-left: 291px;
  top: -403px;
}
  .com p {
  color: black;
  position: relative;
  top: -384px;
  margin-left: 657px;
  font-size: 35px;
=======
    color: black;
    position: relative;
    top: -165px;
    margin-left: 824px;
    font-size: 30px;
>>>>>>> 2bd653973030356e076dfb6cd87388186c7dd806
  }
  .maps img {
    width: 500px;
    margin-left: 162px;
    top: -490px;
    position: relative;
    border-radius: 20px;
  }

  .maps p {
    color: black;
    margin-left: 742px;
    top: -296px;
    position: relative;
    font-size: 37px;
  }
  .maps h2 {
    font-size: 40px;
    position: relative;
    margin-left: 291px;
    top: -403px;
  }
  .com p {
    color: black;
    position: relative;
    top: -384px;
    margin-left: 657px;
    font-size: 35px;
  }
  .maps h2 {
    font-size: 51px;
    margin-left: 260px;
    top: -391px;
    position: relative;
  }
  .com h2 {
      display: flex;
      color: black;
      font-size: 51px;
      margin-left: 920px;
      top: 61px;
      position: relative;
      border:2px solid black;
      background-color: white;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 12vw;
  }
  .droiter{
    font-size: 50px;
    top: -335px;
    position: relative;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
<<<<<<< HEAD
    align-items: center;
     width: 12vw;
}
.droiter
 {
  font-size: 50px;
  top: -335px;
  position: relative;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
}
.thumb img {
  width: 100%;
  transition: transform .4s ease;
  position: relative;
  border-radius: 20px
}
.card 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
  background-color: rgb(255, 144, 144);
  border-radius: 50%;
}
  

header {
	display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    border-bottom: 3px solid #808080;
    background-color: gray;
    position: relative;
}
/* switch pour changer le mode sombre / clair */
#switch {
    border-radius: 50%;
    background-color: white;
    position: relative;
    height: 3vw;
    /* width: 3vw; */
    border: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex: 0 0 2vw;
}
#switch img {
   position: absolute;
    width: 80%;
    height: 79%;
}

/* === Masquer la dernière image par défaut === */
#switch img:last-child{
   	display:none;    /* Cache la dernière image  */
}
/* === Lorsque le mode sombre est activé === */
.darkmode #switch img:first-child{
    display:none;	                 /* Cache la première image  */
}
.darkmode #switch img:last-child{
    display:block;	            /* Affiche la dernière image dans le mode sombre */
}
.menu {
    display: none;
    position: absolute;
    top: 4vw;
    right: 1vw;
    border: black 2px solid;
    padding: 15px;
    width: 10vw;
    height: 10vw;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    background-color: rgb(144, 213, 255);
}
.menu.active {
	display:block;
}
#but {
    background: none;
    border: none;
    margin-left: 1%;
    cursor: pointer;
}
 #but img {
    transition: transform 0.3s ease;
    height: 2vw;
  }
.menu ul {
    position: relative;
    font-size: 1vw;
    margin-left: -2vw;
}
