header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.menu {
  display: none;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.menu.active {
  display: flex;
}
.haut {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 4rem 1rem;
}
.bas {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 3rem 2rem;
}
.plat1,
.plat2 {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* Inverser le 2e plat */
.plat2 {
  flex-direction: row-reverse;
}

.plat1 img,
.plat2 img {
  width: 200px;
  border-radius: 50%;
}

.plat1 p,
.plat2 p {
  max-width: 400px;
}
.hor {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.maps {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.maps img {
  width: 300px;
  border-radius: 20px;
}

.com {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

form p {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
}

.darkmode .bas {
  background-color: rgb(255, 144, 144);
}

.darkmode header {
  background-color: rgb(151, 0, 255);
}
