body{
   margin: 0; /* Supprime la marge par défaut du navigateur autour de la page */
 
}
.site {
  width: 1920px; /* largeur de référence de ton design */
  transform-origin: top left;
  transform: scale(1);
  
}
.haut{
	width: 100vw;
    height: 100vh; /* plein écran */
	background-image:url(../../images/Fond-resto.jpg); /* Image de fond pour la section supérieure */
	background-size: cover; /* L’image est entièrement visible, sans être coupée, mais peut laisser des bords vides */
	background-position: center; 
	display:flex; /* Active Flexbox pour centrer les éléments à l’intérieur */
	flex-direction: column;  /* Place les éléments à l’intérieur en colonne (verticalement) */	 
    align-items: center; /* Centre horizontalement les éléments */
}
.haut p {
	position: relative;
    margin-left: 70px;
    color: red;
    top: 50px;
    font-size: 40px;
	
}
h1{
	position: relative;
    color: white;
    padding: 40px;
    font-size: 80px;
    margin-left: 100px;
    top: 70px;
}

h2{
	color: black;	
}
.h2index{
	position: relative;
    top: 90px;
    display: flex;
    margin-left: 0px;
    justify-content: center;
    border: 1px solid black;
    background-color: beige;
    font-size: 40px;
    border-radius: 10px;
    width: 360px;
}

.h2i{
	position: relative;
    top: 110px;
    font-size: 30px;
    border: 1px solid black;
    width: 20vw;
    background-color: beige;
    margin-left: -40px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.h2index:hover, .h2i:hover, .commande:hover {
    background-color: red;   /* la couleur du fond au survol de la souris */
}
.bas{
	background-color: beige;
	display: flex;
width: 100vw;

flex-direction: column;
}
.plat1 img {
	position: relative;
    width: 360px;
    margin-left: 435px;
    border-radius: 20px;
    top: -20px;
}
.plat1 p {
	position: relative;
    color: black;
    margin-left: 471px;
    top: -10px;
    font-size: 30px;
}
.bas h2 {
	font-size: 40px;
    margin-left: 840px;
    top: -20px;
    position: relative;
}
.plat2 img {
	position: relative;
    width: 330px;
    height: 270px;
    top: -363px;
    margin-left: 1287px;
    border-radius: 20px;
}
.plat2 p {
	color: black;
    position: relative;
    top: -375px;
    margin-left: 1300px;
    font-size: 30px;

} 

.hor h2 {
 font-size: 50px;
    position: relative;
    top: -240px;
    margin-left: 1338px;
}

.hor p {
	color: black;
    position: relative;
    top: -200px;
    margin-left: 1340px;
    font-size: 30px;
}
.maps h2 {
	font-size: 40px;
    position: relative;
    margin-left: 451px;
    top: -850px;
}
.maps p {
	color: black;
   margin-left: 330px;
    top: -496px;
    position: relative;
    font-size: 30px;
}
.maps img {
	width: 500px;
   margin-left: 300px;
    top: -880px;
    position: relative;
    border-radius: 20px;
}

.darkmode {   
	background-color: black; /* Applique la couleur principale au fond de la page */
     .bas {
		background-color: black;
	 }
	 .maps p, .hor p, .plat2 p, .plat1 p, .bas h2, .com p {
		color: white;
	 }
} 
header {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 3px solid #808080;
	width: 99%;
}
/* switch pour changer le mode sombre / clair */
#switch{
   
  border-radius: 50%;   /* Rend les boutons circulaire */
  background-color: white;   /* Couleur du boutons */
     /* Utilise Flexbox pour centrer le contenu */
  position: relative;  /* Fixé à l'écran, reste visible en scrollant */           
     margin-left: 1790px;
  
}

/* === Masquer la dernière image par défaut === */
#switch img:last-child{
   	display:none;    /* Cache la dernière image  */
}
/* === Lorsque le mode sombre est activé === */
.darkmode #switch img:first-child{
    display:none;	                 /* Cache la première image  */
}
.darkmode #switch img:last-child{
    display:block;	            /* Affiche la dernière image dans le mode sombre */
}

.com p{
	color: black;
    position: relative;
    top: -510px;
    margin-left: 700px;
    font-size: 35px;
}
.com a{
   position: relative;
   top: -450px;   
   margin-right: 200px;
}

  /* Conteneur central */
 .wrap{
      max-width:  1100px; /* Largeur max du conteneur central */
      margin: auto;  /* Centrage horizontal */  
	 margin-left: 210px;
}
/* Gros titre chic*/ 
.title{
      font-size: 40px;
      text-align: center;
      color: white;
      
}
/*pour les catégories */
.repas{
	 display: grid; /* mises en page en grille.*/
      grid-template-columns: repeat(2, 1fr); /* 2 colonnes égales sur grand écran */
      gap: 100px;  /* Arrondi des cartes */
}
 /* carte d'une catégorie */
.card{
      display:flex;
      flex-direction:column;
      align-items:center;
      padding: 22px;
      box-shadow: 0 10px 30px rgba(0,0,0,0.6); /* Ombre douce */
     
}
.card:hover{
      transform: translateY(-6px) scale(1.01);  /* Légère montée + zoom */
    }
/* Conteneur image (arrondie) */
.thumb{ 
      aspect-ratio: 4 / 3; /* ratio agréable pour la photo */
      overflow: hidden;    /* Masque débordement des images */
      display: flex;
      align-items: center;
}
.thumb img{
      width: 100%;
      transition: transform .4s ease;  /* Animation hover image */
}
.card:hover img{
      transform: scale(1.03); /* zoom*/
}
/* Titre de la catégorie*/
.label{
      color: white; /* Couleur accent / titres */
      margin-top: 6px; 
	  font-size:30px;
}
/* Texte sous-titre si besoin (muted) */
 .subtitle{
      font-size: 30px;
      color: beige;  /* Couleur texte secondaire */
      margin-top: 6px;
}
 /* Pour la mise en page spécifique : Boissons grande colonne */
.boisson-card{
      grid-column: 1 / -1; /* prend toute la ligne */   
}
 /* Boisson : image plus verticale */
.boisson-card .thumb{
      width: 48%;
	  aspect-ratio: 4/4;
}

.menu {
	display: none;
	position: absolute;
	  top: 70px;
	  right: 20px;
	background-color: white;
	border: black 2px solid;
	padding: 15px;;
	width: 280px;
    height: 260px;
	margin-left: 1300px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}
.menu.active {
	display:block;
}
.menu ul {
	position: relative;
	top: -200px;
}
 #but {
    background: none;
    border: none;
	
}
 #but img {
    transition: transform 0.3s ease;
  }
.menu details ul {
	position: relative;
    top: 10px;
}
/* Ajuste automatiquement la taille du site selon la largeur de l'écran */
@media screen and (max-width: 1920px) {
  .site {
    transform: scale(calc(100vw / 1920));
  }
}

 