body{
   margin: 0; /* Supprime la marge par défaut du navigateur autour de la page */
 
}
.site {
  width: 1920px; /* largeur de référence de ton design */
  transform-origin: top left;
  transform: scale(1);
}

.haut{
	background-image:url(../../images/Fond-resto.jpg); /* Image de fond pour la section supérieure */
	background-size: contain; /* L’image est entièrement visible, sans être coupée, mais peut laisser des bords vides */
	background-repeat: no-repeat; /* Empêche l’image de se répéter */
	background-position: center; 
	display:flex; /* Active Flexbox pour centrer les éléments à l’intérieur */
	flex-direction: column;  /* Place les éléments à l’intérieur en colonne (verticalement) */	 
    align-items: center; /* Centre horizontalement les éléments */
}
.haut p {
	position: relative;/* Permet de déplacer l’élément par rapport à sa position normale */
	margin-left: 100px; /* Décale le paragraphe de 100px vers la droite */
	color:red;
	top: -80px; /* Fait "monter" le paragraphe de 80px */
	font-size: 20px; /* Taille du texte à 20 pixels */
	
}
h1{
	position: relative;
	color: white; 
	padding: 40px;  /* Ajoute de l’espace à l’intérieur autour du texte */
	font-size: 50px;
	margin-left: 100px; 
}

h2{
	color: black;	
}
.h2index{
	position: relative;
	top: -100px;
	display: flex;   
    margin-left: 100px;	
    justify-content: center; /* Centre horizontalement le contenu */
	border: 1px solid black; /* Ajoute une bordure noire d’un pixel */
	height:5vh; /* Hauteur du bloc = 5% de la hauteur de l’écran */
	width:5vw; /* Largeur du bloc = 5% de la largeur de l’écran */
	background-color: beige; /* Fond beige */
	font-size: 30px;
	border-radius: 10px; /* Coins arrondis de 10 pixels */
}

.h2i{
	position: relative;
	top: -170px;
	font-size: 20px;
	border: 1px solid black;
	height:0vh; 
	width:2vw;
	background-color: beige;
	margin-left: 220px;
	padding: 20px;
	display: flex;              
    justify-content: center; 
    align-items: center; /* Centre verticalement le contenu */
	border-radius: 10px;
}
.h2index:hover, .h2i:hover, .commande:hover {
    background-color: red;   /* la couleur du fond au survol de la souris */
}
.bas{
	background-color: beige;
	display: flex;
width: 727px;
    margin-left: 589px; /* Largeur fixe du bloc beige */
	flex-direction: column;

}
footer{
	text-align: center; /* Centre le texte du bas de page */
}
.plat1 img {
	position: relative;
	width: 200px; /* Largeur fixe de l’image */
	margin-left: 75px; /* Décale l’image de 400 pixels vers la gauche */
	border-radius: 10px; /* Coins arrondis de 10 pixels */
	top: -20px;
}
.plat1 p {
	position: relative;
	color : black;
	    margin-left: 91px;
	top: -10px;
}
.bas h2 {
	 font-size: 30px;
	 margin-left: 290px;
	 top: -20px;
  position: relative;
}
.plat2 img {
	position: relative;
	width: 200px;
	height: 150px;
	top: -213px;
	    margin-left: 387px;
	border-radius: 10px;
}
.plat2 p {
	color:black;
	position: relative;
	top: -215px;
	    margin-left: 400px;

} 

.hor h2 {
   font-size: 30px;	
   position: relative;
   top: -220px;
    margin-left: 468px;
}

.hor p {
	color: black;
	position: relative;
	top: -200px;
	margin-left: 460px;
}
.maps h2 {
	font-size: 30px;
	position: relative;
	    margin-left: 81px;
    top: -570px;
}
.maps p {
	color: black;
	margin-left: 60px;
   top: -346px;
  position: relative;
}
.maps img {
	width: 350px;
margin-left: 10px;
    top: -590px;
	position:relative;
	border-radius: 10px;
}

.darkmode {
    --base-color: #121212;                  /* Fond principal sombre */
    --accent-color: #000000;                /* Couleur accent pour darkmode */
    
	background-color: var(--base-color); /* Applique la couleur principale au fond de la page */
  color: var(--accent-color);                /* Applique la couleur du texte */
} 
header {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 3px solid #808080;
	width: 99%;
}
/* switch pour changer le mode sombre / clair */
#switch{
   
  border-radius: 50%;   /* Rend les boutons circulaire */
  background-color: white;   /* Couleur du boutons */
     /* Utilise Flexbox pour centrer le contenu */
  position: relative;  /* Fixé à l'écran, reste visible en scrollant */           
     margin-left: 1786px;
  
}


/* === Masquer la dernière image par défaut === */
#switch img:last-child{
   	display:none;    /* Cache la dernière image  */
}
/* === Lorsque le mode sombre est activé === */
.darkmode #switch img:first-child{
    display:none;	                 /* Cache la première image  */
}
.darkmode #switch img:last-child{
    display:block;	            /* Affiche la dernière image dans le mode sombre */
}

.com p{
	 color: black;
	 position: relative;
	top: -510px;
  margin-left: 200px;
  font-size: 25px;
	 font-size: 25px;
}
.com a{
   position: relative;
   top: -450px;   
   margin-right: 200px;
}

  /* Conteneur central */
 .wrap{
      max-width:  1100px; /* Largeur max du conteneur central */
      margin: auto;  /* Centrage horizontal */
}
/* Gros titre chic*/ 
.title{
      font-size: clamp(36px, 6vw, 72px); /* Taille responsive : min 36px, max 72px */
      text-align: center;
      color: white;
      
}
/*pour les catégories */
.repas{
	 display: grid; /* mises en page en grille.*/
      grid-template-columns: repeat(2, 1fr); /* 2 colonnes égales sur grand écran */
      gap: 100px;  /* Arrondi des cartes */
}
 /* carte d'une catégorie */
.card{
      display:flex;
      flex-direction:column;
      align-items:center;
      padding: 22px;
      box-shadow: 0 10px 30px rgba(0,0,0,0.6); /* Ombre douce */
     
}
.card:hover{
      transform: translateY(-6px) scale(1.01);  /* Légère montée + zoom */
    }
/* Conteneur image (arrondie) */
.thumb{ 
      aspect-ratio: 4 / 3; /* ratio agréable pour la photo */
      overflow: hidden;    /* Masque débordement des images */
      display: flex;
      align-items: center;
}
.thumb img{
      width: 100%;
      transition: transform .4s ease;  /* Animation hover image */
}
.card:hover img{
      transform: scale(1.03); /* zoom*/
}
/* Titre de la catégorie*/
.label{
      color: white; /* Couleur accent / titres */
      margin-top: 6px; 
	  font-size:30px;
}
/* Texte sous-titre si besoin (muted) */
 .subtitle{
      font-size: 30px;
      color: beige;  /* Couleur texte secondaire */
      margin-top: 6px;
}
 /* Pour la mise en page spécifique : Boissons grande colonne */
.boisson-card{
      grid-column: 1 / -1; /* prend toute la ligne */   
}
 /* Boisson : image plus verticale */
.boisson-card .thumb{
      width: 48%;
	  aspect-ratio: 4/4;
}

.menu {
	display: none;
	position: absolute;
	  top: 70px;
	  right: 20px;
	background-color: white;
	border: black 2px solid;
	padding: 15px;;
	width: 280px;
    height: 260px;
	margin-left: 1300px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}
.menu.active {
	display:block;
}
.menu ul {
	position: relative;
	top: -200px;
}
 #but {
    background: none;
    border: none;
	
}
 #but img {
    transition: transform 0.3s ease;
  }
.menu details ul {
	position: relative;
    top: 10px;
}
/* Ajuste automatiquement la taille du site selon la largeur de l'écran */
@media screen and (max-width: 1920px) {
  .wrapper {
    transform: scale(calc(100vw / 1920));
  }
}

 