body{
   margin: 0; /* Supprime la marge par défaut du navigateur autour de la page */
    background-color: rgb(137, 81, 41);
}

html {
  scroll-behavior: smooth;
}

.haut{
	width: 100vw;
    height: 100vh; /* plein écran */
	background-image:url(../../images/Fond-resto.jpg); /* Image de fond pour la section supérieure */
	background-size: cover; /* L’image est entièrement visible, sans être coupée, mais peut laisser des bords vides */
	background-position: center; 
	display:flex; /* Active Flexbox pour centrer les éléments à l’intérieur */
	flex-direction: column;  /* Place les éléments à l’intérieur en colonne (verticalement) */	 
    align-items: center; /* Centre horizontalement les éléments */
}
.haut p {
	position: relative;
    margin-left: 70px;
    color: red;
    top: 50px;
    font-size: 40px;
	
}

h1{
	position: relative;
    color: white;
    padding: 40px;
    font-size: 80px;
    margin-left: 100px;
    top: 70px;
}

h2{
	color: black;	
}
.h2index{
	position: relative;
    display: flex;
    margin-left: 0px;
    justify-content: center;
    border: 1px solid black;
    background-color: beige;
    font-size: 40px;
    border-radius: 10px;
}

.h2i{
	position: relative;
    font-size: 40px;
    border: 1px solid black;
    width: 20vw;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
a {
    text-decoration: none; /* Supprime le soulignement des liens */
  }
.h2index:hover, .h2i:hover, .commande:hover {
    background-color: red;   /* la couleur du fond au survol de la souris */
}
.bas{
	background-color: rgb(144, 213, 255);
	display: flex;
width: 100vw;

flex-direction: column;
}
.plat1 img {
	position: relative;
    width: 360px;
    margin-left: 435px;
    border-radius: 20px;
    top: -20px;
}
.plat1 p {
	position: relative;
    color: black;
    margin-left: 471px;
    top: -10px;
    font-size: 30px;
}
.bas h2 {
	font-size: 40px;
    margin-left: 840px;
    top: -20px;
    position: relative;
}
.plat2 img {
	position: relative;
    width: 330px;
    height: 270px;
    top: -363px;
    margin-left: 1287px;
    border-radius: 20px;
}
.plat2 p {
	color: black;
    position: relative;
    top: -375px;
    margin-left: 1300px;
    font-size: 30px;

} 

.hor h2 {
 font-size: 50px;
    position: relative;
    top: -240px;
    margin-left: 1338px;
}

.hor p {
	color: black;
    position: relative;
    top: -200px;
    margin-left: 1340px;
    font-size: 30px;
}
.maps h2 {
	font-size: 40px;
    position: relative;
    margin-left: 451px;
    top: -850px;
}
.maps p {
	color: black;
   margin-left: 330px;
    top: -496px;
    position: relative;
    font-size: 30px;
}
.maps img {
	width: 500px;
   margin-left: 300px;
    top: -880px;
    position: relative;
    border-radius: 20px;
}

.com p{
	color: black;
    position: relative;
    top: -510px;
    margin-left: 700px;
    font-size: 35px;
}
.com a{
   position: relative;
   top: -450px;   
   margin-right: 200px;
}

  /* Conteneur central */
 .wrap{
      max-width:  1100px; /* Largeur max du conteneur central */
      margin: auto;  /* Centrage horizontal */  
	 margin-left: 210px;
}
/* Gros titre chic*/ 
.title{
      font-size: 40px;
      text-align: center;
      color: black;
      top : -10px;
      
}
/*pour les catégories */
.repas{
	 display: grid; /* mises en page en grille.*/
      grid-template-columns: repeat(2, 1fr); /* 2 colonnes égales sur grand écran */
      gap: 100px;  /* Arrondi des cartes */
}
 /* carte d'une catégorie */
.card{
      display:flex;
      flex-direction:column;
      align-items:center;
      padding: 22px;
      box-shadow: 0 10px 30px rgba(0,0,0,0.6); /* Ombre douce */
     background-color: rgb(144, 213, 255);
}
.card:hover{
      transform: translateY(-6px) scale(1.01);  /* Légère montée + zoom */
    }
/* Conteneur image (arrondie) */
.thumb{ 
      aspect-ratio: 4 / 3; /* ratio agréable pour la photo */
      overflow: hidden;    /* Masque débordement des images */
      display: flex;
      align-items: center;
}
.thumb img{
      width: 100%;
      transition: transform .4s ease;  /* Animation hover image */
}
.card:hover img{
      transform: scale(1.03); /* zoom*/
}
/* Titre de la catégorie*/
.label{
      color: white; /* Couleur accent / titres */
      margin-top: 6px; 
	  font-size:30px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgb(6, 6, 155);
}
/* Texte sous-titre si besoin (muted) */
 .subtitle{
      font-size: 30px;
      color: black;  /* Couleur texte secondaire */
      margin-top: 6px;
}
 /* Pour la mise en page spécifique : Boissons grande colonne */
.boisson-card{
      grid-column: 1 / -1; /* prend toute la ligne */   
}
 /* Boisson : image plus verticale */
.boisson-card .thumb{
      width: 48%;
	  aspect-ratio: 4/4;
}
.boisson-card .label{
  position: relative;
     top: 520px;
}


.label1{
  font-family: 'Great Vibes', cursive;
    font-size: 32px;
    color: white;
    top: -320px;
    position: relative;
    margin-right: -20px;
}
.p1{
 position: relative;
    font-size: 29px;
    color: black;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    top: -160px;
    margin-left: 351px;
}

.thumb1{
  margin-right: 1480px;
    position: relative;
    top: -10px;
} 

.card1{ display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
    height: 20vh;
    background-color: rgb(144, 213, 255);
    width: 98vw;
    margin: 20px;
    margin-left: -1px;
     
}
footer {
  display: flex;
  flex-direction: column;
}
.droite{
  font-size: 30px; 
  font-weight: 10;
  display:flex ;
  justify-content: center;
  align-items: center;
  flex-direction: column ;
}
.style{
  display:flex ;
  border:2px solid black;
  background-color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;

  width: 12vw;
}
.droiter
{
font-size: 35px;
  top: -100px;
  position: relative;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
}
.repas1{
  flex-direction: column;
}

 