.darkmode {   
  .menu {
    background-color: rgb(255, 144, 144);
  }
  .card, .card1 {
    background-color: rgb(255, 144, 144);
  }
  .label {
    background-color: rgb(255, 144, 144);
  }
  .bas {
		background-color: rgb(255, 144, 144);
	}
	.maps p, .hor p, .plat2 p, .plat1 p, .bas h2, .com p, .title, .label, .subtitle {
		color: white;
	}
  header {
    background-color: beige;
  }
  .plat1 img {
    position: relative;
    border-radius : 50%;
    width: 20vw;
    margin-left: 40vw;
    top: 7vw;
  }
  .plat1 p {
    position: relative;
    color: black;
    margin-left: 62vw;
    top: -7vw;
    font-size: 2vw;
  }
  .plat2 img
  {
    border-radius : 50%;
    position: relative;
    color: black;
    margin-left: 40vw;
    top: 2vw;
    font-size: 2vw;
  }
  .plat2 p 
  {
    position: relative;
    color: black;
    margin-left: 61vw;
    top: -10vw;
    font-size: 2vw;
  }
  .hor h2 
  {
    font-size: 8vw;
    width: 20vw;
    margin-left: 40vw;
    border-radius: 20%;
    top: 7vw;
  }
  .hor p 
  {

    color: black;
    position: relative;
    top: 0vw;
    margin-left: 40vw;
    font-size: 3vw;
  }
.maps img {
  width: 500px;
  margin-left: 162px;
  top: -490px;
  position: relative;
  border-radius: 20px;
}
.thumb
{
 position: relative;
  border-radius: 50%;
}
.maps p {
  color: black;
  margin-left: 742px;
  top: -296px;
  position: relative;
  font-size: 37px;
}
.maps h2 
{
  font-size: 6vw;
  margin-left: 22vw;
  top: -4vw;
  position: relative;
}
  .com p {
  color: black;
  position: relative;
  top: -9vw;
  margin-left: 4vw;
  font-size: 3vw;
  }
  .maps img
  {
    width: 35vw;
    margin-left: 16vw;
    top: -18vw;
    position: relative;
    border-radius: 40%;
  }
.maps p 
  {
    color: black;
    margin-left: 55vw;
    top: -1vw;
    position: relative;
    font-size: 3vw;
  }

.style 
{
  display: flex;
  border: 2px solid black;
  background-color: white;
  margin: auto;
  width: 14vw;
  top: -34vw;
  position: relative;
}

  .maps h2 
  {
    position: relative;
    font-size: 5vw;
    margin-left: 18vw;
    top: -4vw;
  }
  .com p {
    color: black;
    position: relative;
    top: -17vw;
    margin-left: 5vw;
    font-size: 3vw;
  }
 
  .com h2 
  {
    color: black;
    font-size: 3vw;
    margin-left: 63vw;
    top: 10vw;
    position: relative;
    border: 2px solid black;
    background-color: white;
    width: 11vw;
  }
  .droiter{
    font-size: 50px;
    top: -335px;
    position: relative;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     width: 12vw;
}
.droiter
 {
  font-size: 50px;
  top: -335px;
  position: relative;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
}
.thumb img {
  width: 100%;
  transition: transform .4s ease;
  position: relative;
  border-radius: 20px
}
.card 
{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 22px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
  background-color: rgb(255, 144, 144);
  border-radius: 30%;
}
.subtitle 
{
  font-size: 2vw;
  color: rgb(255, 255, 255);
  padding: 2vw;
}

}
header {
	display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    border-bottom: 3px solid #808080;
    background-color: gray;
    position: relative;
}
/* switch pour changer le mode sombre / clair */
#switch {
    border-radius: 50%;
    background-color: white;
    position: relative;
    height: 3vw;
    /* width: 3vw; */
    border: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex: 0 0 2vw;
}
#switch img {
   position: absolute;
    width: 80%;
    height: 79%;
}

/* === Masquer la dernière image par défaut === */
#switch img:last-child{
   	display:none;    /* Cache la dernière image  */
}
/* === Lorsque le mode sombre est activé === */
.darkmode #switch img:first-child{
    display:none;	                 /* Cache la première image  */
}
.darkmode #switch img:last-child{
    display:block;	            /* Affiche la dernière image dans le mode sombre */
}
.menu {
    display: none;
    position: absolute;
    top: 4vw;
    right: 1vw;
    border: black 2px solid;
    padding: 15px;
    width: 10vw;
    height: 10vw;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    background-color: rgb(144, 213, 255);
}
.menu.active {
	display:block;
}
#but {
    background: none;
    border: none;
    margin-left: 1%;
    cursor: pointer;
}
 #but img {
    transition: transform 0.3s ease;
    height: 2vw;
  }
.menu ul {
    position: relative;
    font-size: 1vw;
    margin-left: -2vw;
}
