.darkmode .menu 
{
  background: radial-gradient(circle at 20% 20%, #aa2323, transparent),
              radial-gradient(circle at 80% 80%, #6a00ff, transparent),
              #000;
}

.darkmode .card 
{
  background-color: rgb(255, 144, 144);
  display: flex;
  align-items: center;
  padding: 22px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
  background: red;
  border-radius: 30%;
  padding: 22px;
  border-radius: 30%;
}
.darkmode .card1 
{
  background-color: rgb(255, 144, 144);
  padding: 3vw;
  border-radius: 31%;
}
.darkmode .label 
{
  background-color: rgb(255, 144, 144);
}
.darkmode .bas 
{
	background-color: rgb(255, 144, 144);
}
.darkmode header 
{
  background-color: rgb(151, 0, 255);
}
.darkmode .h2i 
{
  font-size: 4vw;
  border: 1px solid black;
}
.darkmode .plat1 img 
{
  position: relative;
  border-radius : 50%;
  width: 20vw;
  right:20%;
  top: 7vw;
}
.darkmode .plat1 p 
{
  position: relative;
  margin-right: auto;
  text-align: left;
  right: 2%;
  top:-5vw;
  font-size: 2vw;
  border:2px solid ;
  border-radius: 10%;
  background-color: rebeccapurple;
  width: 35vw;
}
.darkmode .plat2 img
{
  display: flex;
  position: relative;
  border-radius : 50%;
  width: 20vw;
  right:58%;
  top: 5vw;
}
.darkmode .plat2 p 
{
  position: relative;
  margin-right: auto;
  text-align:left;
  right: 40%;
  top: -10vw;
  font-size: 2vw;
  border:  2px solid ;
  border-radius: 10%;
  background-color: rebeccapurple;
  width: 35vw;
}
.darkmode .hor h2 
{
  position: relative;
  font-size: 8vw;
  width: 15vw;
  border-radius: 20%;
  top: -49vw;
  margin-left: 65%;
  border:  2px solid ;
  border-radius: 10%;
  background-color: rebeccapurple;
  width: auto;
}
.darkmode .hor p 
{
  position: relative;
  top: -54vw;
  margin-left: 65%;
  font-size: 2vw;
  border: 2px solid ;
  border-radius: 0%;
  background-color: rebeccapurple;
  width: auto;
}
.darkmode .thumb
{
  position: relative;
  border-radius: 50%;
}

.darkmode .com p 
{
  color: black;
  position: relative;
  top: -32vw;
  margin-left: 4vw;
  font-size: 3vw;
}
.darkmode .com h2 
{
  margin-left: 50vw;
  border: 2px solid black;
  background-color: white;
  width: 10vw;
  top: -9vw
}
.darkmode .maps img 
{
  width: 48vw;
  margin-left: 3vw;
  top: -58vw;
  position: relative;
  border-radius: 40%;
}
.darkmode .maps p 
{
  color: black;
  margin-left: 55vw;
  top: -41vw;
  position: relative;
  font-size: 3vw;
}

.darkmode .maps h2 
{
  position: relative;
  font-size: 5vw;
  margin-left: auto;
  top: -55vw;
}
.darkmode.droite 
{
  font-size: 2vw;
  font-weight: 10;
  flex-direction: column;
  top: -77vw;
  position: relative;
  font-size: 3vw;
}

.darkmode .droiter
{
  font-size: 50px;
  top: -35vw;
  position: relative;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12vw;
}

.darkmode .thumb img 
{
  width: 100%;
  transition: transform .4s ease;
  position: relative;
  border-radius: 20%
}
.darkmode .subtitle 
{
  font-size: 2vw;
  color: rgb(255, 255, 255);
  padding: 2vw;
}

.darkmode .title
{
  font-size: 2vw;
  color: black;
  margin-left: 41vw;
  
}
.darkmode .label1 
{
  margin-left: -74vw;
  padding: 2vw;
  top: -10vw;
}
.darkmode .p1 
{
  font-size: 2vw;
}

.darkmode .thumb1 img 
{
  border-radius: 50%;
  margin-left: 10vw;
  top: -1vw;
  position: relative;
}


header 
{
  display: flex;
  padding: 10px 20px;
  background-color: gray;
}
/* switch pour changer le mode sombre / clair */
#switch
{
  border-radius: 50%;
  background-color: white;
  position: relative;
  height: 3vw;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex: 0 0 2vw;
  margin-left: 88vw;
}
#switch img 
{
  position: absolute;
  width: 100%;
  height: 100%;
}
#switch img:last-child
{
   	display:none;    
}

.darkmode #switch img:first-child
{
    display:none;	                 
}
.darkmode #switch img:last-child
{
    display:block;	          
}
.menu
{
  display: none;
  position: absolute;
  top: 4vw;
  right: 1vw;
  border: black 2px solid;
  padding: 15px;
  width: 10vw;
  height: 10vw;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  background-color: rgb(144, 213, 255);
}
.menu.active 
{
  display:block;
}
#but 
{
  background: none;
  border: none;
  cursor: pointer;
}
#but img 
{
  transition: transform 0.3s ease;
  height: 2vw;
}
.menu ul 
{
  position: relative;
  font-size: 1vw;
  margin-left: -2vw;
  top: -2vw;
}
summary 
{
  top: -1vw;
  position: relative;
}
